<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />
    <link href="~/clientLTE/css/style.css" rel="stylesheet" asp-append-version="true" />

    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    @RenderSection("styleclient",false)
</head>
<body>

    <!-- Navigation -->

    <nav>
        <img src="/clientLTE/images/logo.png" alt="">
        <form class="form-inline mr-auto" target="_self">
            <div class="form-group">
                <input class="form-control search-field" type="search" name="search" id="search-field" placeholder="Search">
            </div>
        </form>

        <div class="nagivation">
            <ul>
                <i id="menu-close" class="fas fa-times"></i>
                <li class="pr-3"><a asp-action="Index" asp-controller="NewsClient"><i class="fas fa-newspaper"></i> Tin tức</a></li>
                <div class="dropdown p-1">
                    <button class="dropbtn">
                        <i class="fa fa-th" aria-hidden="true"></i> Khóa học <i class="fa fa-angle-down" aria-hidden="true"></i>
                    </button>
                    <div class="dropdown-content">
                        <a asp-action="ListCateSubFree" asp-controller="Home">Khóa học miễn phí</a>
                        <a asp-action="ListCateSubPay" asp-controller="Home"> Khóa học trả phí</a>
                    </div>
                </div>

                @if (User.Identity.IsAuthenticated)
                {
                    <div class="dropdown">
                        <button class="dropbtn">
                            <i class="fa fa-th" aria-hidden="true"></i> Xin chào @User.Identity.Name <i class="fa fa-angle-down" aria-hidden="true"></i>
                        </button>
                        <div class="dropdown-content">
                            @if (Convert.ToInt32(User.Claims.SingleOrDefault(c => c.Type.Contains(AppClaimType.RoleId))?.Value) != 2)
                            {
                                <a class="dropdown-item" asp-action="Index" asp-controller="Home" asp-area="Admin">Quản lý trang web</a>
                            }
                            <a class="dropdown-item" asp-action="ListSubUserBuy" asp-controller="Home">Khóa học đã mua</a>
                            <a class="dropdown-item" asp-action="ChangePassword" asp-controller="Auth" asp-route-id="@Convert.ToInt32(User.Claims.SingleOrDefault(c => c.Type.Contains(System.Security.Claims.ClaimTypes.NameIdentifier))?.Value)">Đổi mật khẩu</a>
                            <a asp-action="Logout" asp-controller="Account" class="dropdown-item">Đăng xuất</a>
                        </div>
                    </div>
                }
                else
                {
                    <div class="btn">
                        <a asp-action="Login" asp-controller="Account" id="login">Đăng nhập</a>
                    </div>
                }


            </ul>

            <img id="menu-btn" src="images/menu.png" alt="">
        </div>
    </nav>
    <!-- Home -->
    

    @RenderBody()
    <!-- Registration -->


    <footer>
        <div class="footer-col">
            <h3>Top Product</h3>
            <li>janckancja</li>
            <li>janckancja</li>
            <li>janckancja</li>
            <li>janckancja</li>
        </div>
        <div class="footer-col">
            <h3>Top Product</h3>
            <li>janckancja</li>
            <li>janckancja</li>
            <li>janckancja</li>
            <li>janckancja</li>
        </div>
        <div class="footer-col">
            <h3>Top Product</h3>
            <li>janckancja</li>
            <li>janckancja</li>
            <li>janckancja</li>
            <li>janckancja</li>
        </div>
        <div class="footer-col">
            <h3>Top Product</h3>
            <li>janckancja</li>
            <li>janckancja</li>
            <li>janckancja</li>
            <li>janckancja</li>
        </div>
        <div class="footer-col">
            <h3>Newsletter</h3>
            <p>bviajankjananlcancka</p>
            <div class="subscribe">
                <input type="text" placeholder="Your Email">
                <a href="#" class="yellow">Sub</a>
            </div>
        </div>

        <div class="copyright">
            <p>Copyright 2023</p>
            <div class="pro-links">
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-linkedin-in"></i>
            </div>
        </div>

    </footer>

    <div class="back-top back-top-show">
        <i class="fa fa-angle-up"></i>
    </div>

    <script src="~/clientLTE/js/function.js" asp-append-version="true"></script>
    @RenderSection("scriptClient",false)
</body>

</html>