@model IEnumerable<DoAnThucTap.Web.Areas.Admin.ViewModels.Chapter.ListChapterItemVM>

@{
    ViewData["Title"] = "DetailChapter";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


@if (User.IsInPermission(AuthConst.Chapter.CREATE))
{
    <div class="my-2">
        <a asp-action="Create" asp-controller="News" asp-area="Admin" class="btn btn-primary">
            <i class="fas fa-plus-circle"></i> &nbsp; Thêm mới vai trò
        </a>
    </div>
}


<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Chương</th>
                <th>Ngày tạo</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="fit">@item.Id</td>
                    <td>@item.NameChapter</td>
                    <td class="fit">@item.CreateAt.ToDMYHM()</td>
                    <td class="fit">
                        @if (User.IsInPermission(AuthConst.Chapter.DELETE))
                        {
                            <a asp-action="Delete" asp-route-id="@item.Id"
                               class="btn btn-outline-secondary btn-sm"><i class="fas fa-trash"></i></a>
                        }
                        @if (User.IsInPermission(AuthConst.Chapter.UPDATE))
                        {

                            <a asp-action="Update" asp-route-id="@item.Id"
                               class="btn btn-outline-secondary btn-sm"><i class="fas fa-pen"></i></a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<partial name="_Pager" />

