@model DoAnThucTap.Web.ViewModels.Subject.LessonDetailVM

@{
    ViewData["Title"] = "Lesson";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var i = 0;
}
<link href="~/clientLTE/css/lession.css" rel="stylesheet" />
<section id="main" style="padding-top:150px">
    <div class="container-lession">
        <div class="row-lession">

            <!-- Left Col -->
            <div class="leftcol-lession">
                <div class="card-lession">

                    <ul class="toc chapters">
                        <li class="heading">@Model.subject.NameSubject</li>
                        
                        @foreach (var chapter in Model.chapters)
                        {

                            <li class="js-li"><a data-id="@chapter.Id" style="cursor:pointer" class="js-chapter">@chapter.NameChapter</a></li>

                        }

                    </ul>

                </div>
            </div>

            <!-- Mid Col -->
            <div class="midcol-lession js-content">
                @foreach (var lesson in Model.lessons)
                {
                    @Html.Raw(lesson.Content)
                }
            </div>

            <!-- Right Col -->
            <div class="rightcol-lession js-test">
                @if (Model.IsTest)
                {
                    <a asp-action="TestClient" asp-controller="subjectClient" asp-route-id="@ViewBag.IdChapter">Bài kiểm tra</a>
                }
            </div>

        </div>
    </div>
</section>
@section scriptClient{
    <script src="~/clientLTE/js/detaillesson.js" asp-append-version="true"></script>
}